<h1 style="color:black;">Showing the Users table</h1>

<p style="color:black;">
	Username: <%= @user.username %>
</p>

<p style="color:black;">
	Email: <%= @user.email %>
</p>

<p style="color:black;">
	Comment: <%= @user.comment %>
</p>
